site_name: Matwerk
site_url: https://nfdi.fiz-karlsruhe.de/matwerk/
repo_url: https://github.com/ISE-FIZKarlsruhe/matwerk
nav:
  - Home: index.md
  - How to add data?: upload.md
  - SPARQL Endpoint: /matwerk/shmarql/
  - Sample Queries:
    - General Queries: general_queries.md
    - Statistics: statistics.md
    - Named Graphs Statistics: namedgraphsstatistics.md
    - IUC Related Queries: iuc_related_queries.md
