name: Docker Image CI

on:
  push:
    branches: [main]
    tags: ['v*']
    paths-ignore:
      - 'Submissions/**'
      - 'dags/**'
      - '.github/**'

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Downcase REPO
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >> "$GITHUB_ENV"
          echo "Using image: ghcr.io/${GITHUB_REPOSITORY,,}"

      - name: Build and Push image
        env:
          REGISTRY: ghcr.io
        run: |
          set -euxo pipefail

          if [ "${GITHUB_REF_TYPE}" = "tag" ]; then
            VERSION="${GITHUB_REF_NAME}"   # e.g. v2.0.1
          else
            VERSION="$(git rev-parse --short HEAD)"
          fi

          docker build \
            -t $REGISTRY/${REPO}:latest \
            -t $REGISTRY/${REPO}:${VERSION} \
            .

          docker push $REGISTRY/${REPO} --all-tags

      - name: Trigger private repo workflow
        run: |
          set -euxo pipefail
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            https://api.github.com/repos/ISE-FIZKarlsruhe/deploy/dispatches \
            -d "{\"event_type\":\"run-private-workflow\",\"client_payload\":{\"image\":\"ghcr.io/${REPO}:latest\"}}"
